<% quote = Quote.find(@quote_id) %>
<% months = @years * 12 %>
<% price = quote.price_with_tax() %>
<% rate = Quote.equivalent_interest_rate(@interest) %>
<% total = number_with_precision(Quote.due_calc(rate, @years, quote.price).to_f, :precision => 2).to_f %>
<% due_monthly =  total  / @years/ 12%>
<% total_interest = total - price %>
<br>
<div style="margin:auto; width:600px;">
  <div style="display:inline-block; margin-right:20px; vertical-align: middle; text-align:left;">
    <h3 style="margin-bottom:5px">Total Due</h3> <%= number_to_currency(total) %>  <br><h3 style="margin-bottom:5px">Monthly Payment</h3> <%= number_to_currency(due_monthly) %>
  </div>
<div style="max-width:240px; display:inline-block; vertical-align: middle;">
<%= pie_chart [["Principal", number_with_precision(price, precision: 2)], ["Interest", number_with_precision(total_interest, precision: 2)]], colors: ["#197512","#68c141"], legend: "bottom", donut: true, thousands: ",", prefix: "$"%>
</div>
</div>
<br>
<h2>Amortization Table</h2>
<table>
  <thead>
  <tr>
    <th>Month</th>
    <th>Beginning Balance</th>
    <th>Interest</th>
    <th>Principal</th>
    <th>Ending Balance</th>
  </tr>
  </thead>

  <% current = price %>
  <tbody>
  <% for i in 1..months do %>
    <% payment_interest = current * rate / 12 %>
    <% payment_principal = due_monthly - payment_interest %>
    <tr>
      <td><%= i %></td>
      <td><%= number_to_currency(current) %></td>
      <td><%= number_to_currency(payment_interest) %></td>
      <td><%= number_to_currency(payment_principal) %></td>
      <% current = current - payment_principal %>
      <% if current < 0 %>
        <% current = 0 %>
      <% end %>
      <td><%= number_to_currency(current) %></td>
    </tr>
  <% end %>
  </tbody>
</table>