<p id="notice"><%= notice %></p>


<h1>Sold</h1>
<%= form_tag sold_quotes_path, :id => "search_form", :method => 'get' do %>
  <%= text_field_tag :first_name_search, params[:first_name_search], :placeholder => "First Name" %>
  <%= text_field_tag :last_name_search, params[:last_name_search], :placeholder => "Last Name"  %>
  <%= text_field_tag :vin_search, params[:vin_search], :placeholder => "VIN"  %>
  <%= submit_tag "Search" %>
<% end %>
<table>
  <thead>
  <tr>
    <th>Customer</th>
    <th>Vehicle</th>
    <th>VIN</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @quotes.where(:sold => true).each do |quote| %>
    <tr>
      <td><%= quote.customer.full_name %></td>
      <td><%= quote.inventory.year.to_s + " "+ quote.inventory.make.name + " " + quote.inventory.model.name %></td>
      <td><%= quote.inventory.vin %></td>
      <td><%= number_to_currency(quote.price) %></td>
      <td><%= link_to 'Select', quote %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<div>
<%= link_to 'New Quote', new_quote_path, {:style=>'margin-right: 1em;'} %>

<%= link_to 'Show Unsold', quotes_path %>
</div>
