<%= form_with(model: inventory, local: true) do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :make_id %>
    <%= form.collection_select :make_id, Make.order(:name), :id, :name, include_blank: true, required: true %>
  </div>

  <div class="field">
    <%= form.label :model_id %>
    <%= form.grouped_collection_select :model_id, Make.order(:name), :models, :name,:id, :name, include_blank: true%>
  </div>

  <div class="field">
    <%= form.label :color_id %>
    <%= form.collection_select :color_id, Color.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :mileage %>
    <%= form.number_field :mileage %>
  </div>

  <div class="field">
    <%= form.label :wholesale_price %>
    <%= form.text_field :wholesale_price %>
  </div>

  <div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <%= form.hidden_field :sold , :value => false%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
