<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<%= link_to '<button type="button">New Vehicle</button>'.html_safe, new_inventory_path %>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Vehicle Information</th>
      <th style="width: 120px"></th>

    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td> </td>
        <td>
        <ul style="list-style: none;">
          <li><%= inventory.year.to_s + " " + inventory.make.name + " " + inventory.model.name%></li>
          <li>Price: <%= number_to_currency(inventory.wholesale_price) %></li>
          <li>Mileage: <%=inventory.mileage %></li>
        </ul>
        </td>
        <td><%= link_to 'Detail', inventory %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


