<p id="notice"><%= notice %></p>

<table id = "tb01">
  <thead style="width: 120px">
    <tr>
      <th>Photo</th>
      <th>Vehicle Information</th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr style="height:210px" data-link="<%= inventory_url(inventory) %>">
        <td>
          <% if inventory.photo.attached? %>
            <%= image_tag inventory.photo, :class => "car-photo"%>
            <%end%>
        </td>
        <td>
          <ul style="list-style: none; text-align: left; line-height: 2">
            <li><h4 style="padding: 0px; margin: 0px"><%= inventory.year.to_s + " " + inventory.make.name + " " + inventory.model.name%></h4></li>
            <li style="margin-left: 10px"><%= '$' + number_with_precision(inventory.wholesale_price, :precision => 0, :delimiter => ',') %></li>
            <li style="margin-left: 10px">Mileage: <%=number_with_delimiter(inventory.mileage, :delimiter => ',')%></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '<button type="button">New Vehicle</button>'.html_safe, new_inventory_path %>


