<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<%= link_to '<button type="button">New Vehicle</button>'.html_safe, new_inventory_path %>

<table id = "tb01">
  <thead style="width: 120px">
    <tr>
      <th>Photo</th>
      <th>Vehicle Information</th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr data-link="<%= inventory_url(inventory) %>">
        <td>
          <% if inventory.photo.attached? %>
            <%= image_tag inventory.photo , :size => "300x190" %>
            <%end%>
        </td>
        <td>
        <ul style="list-style: none;">
          <li><%= inventory.year.to_s + " " + inventory.make.name + " " + inventory.model.name%></li>
          <li>Price: <%= number_to_currency(inventory.wholesale_price) %></li>
          <li>Mileage: <%=inventory.mileage %></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


