<p id="notice"><%= notice %></p>

<p>
  <strong>Miles:</strong>
  <%= @inventory.miles %>
</p>

<p>
  <strong>Year:</strong>
  <%= @inventory.year %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inventory.model %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @inventory.vin %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @inventory.sold %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color %>
</p>

<p>
  <strong>Make:</strong>
  <%= @inventory.make %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
