<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @inventory.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @inventory.make.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inventory.model.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color.name %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @inventory.mileage %>
</p>

<p>
  <strong>Wholesale price:</strong>
  <%= number_to_currency(@inventory.wholesale_price) %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @inventory.vin %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @inventory.sold %>
</p>

<% if @inventory.photo.attached? %>
  <p>
  <%= image_tag @inventory.photo %>
  </p>
<%end%>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Destroy', @inventory, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', inventories_path %>
