
<p id="notice"><%= notice %></p>

<h1>Customers</h1>

  <%= form_tag customers_path, :id => "search_form", :method => 'get' do %>
    <%= text_field_tag :first_name_search, params[:first_name_search], :placeholder => "First Name" %>
  <%= text_field_tag :last_name_search, params[:last_name_search], :placeholder => "Last Name"  %>
  <%= text_field_tag :email_search, params[:email_search], :placeholder => "Email"  %>
    <%= submit_tag "Search" %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th style="width: 120px"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name + " " + customer.last_name%></td>
        <td><%= customer.street_address + ", " + customer.city + ", " + customer.state.state_name + " " + customer.zip_code %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Select', customer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @customers %>
<br>
<%= link_to 'New Customer', new_customer_path %>
<br>
