<p id="notice"><%= notice %></p>
<div class="pane2" style="width:80%; margin-left: auto;margin-right: auto; text-align: left; padding-left: 50px;">
<p>
  <strong>Name:</strong>
  <%=  @customer.first_name + " " + @customer.last_name%>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.street_address + ", " + @customer.city + ", " + @customer.state.state_name + " " + @customer.zip_code %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

</div>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

