<script type="text/javascript">
    $(document).ready(function() {
        var $signUp = $('.signUp');
        var $signIn = $('.signIn');
        $(".btn-member").click(function () {
            console.log("Message");
            $signUp.fadeOut('slow');
            $signIn.fadeIn('slow');
        });
        $(".btn-back").click(function () {
            console.log("Message");
            $signIn.fadeOut('slow');
            $signUp.fadeIn('slow');
        });
    })
</script>
<%= devise_error_messages!%>

<div class="wrapper">
  
  <div class="signIn">
    <%= image_tag("compassLogoNameGreen.png", style: 'height:30px;width:auto;padding-bottom:35px;', class: 'logo')%>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :required =>true, :type =>"text", :placeholder =>"Email"%>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", :id =>"password", :required =>true, :type =>"password", :placeholder =>"Password" %>

        </div>

        <div class="actions">
      <button type="button" class="btn btn-back">Need an Account?</button>
        <%= f.submit "Log In", :class =>  "btn btn-log-in"%>

      </div>
      <% end %>
  </div>

  <div class="signUp">
    <%= image_tag("compassLogoNameGreen.png", style: 'height:30px;width:auto;padding-bottom:35px;', class: 'logo')%>
    <%= form_for(:user, :url => registration_path(:user)) do |f| %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :required =>true, :type =>"text", :placeholder =>"Email"%>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :required =>true, :type =>"text", :placeholder =>"Email"%>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", :id =>"password", :required =>true, :type =>"password", :placeholder =>"Password (6 characters minimum)" %>

      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :id =>"password", :required =>true, :type =>"password", :placeholder =>"Confirm Password"  %>
      </div>

      <div class="actions">
        <button type="button" class="btn btn-member">Need an Account?</button>
        <%= f.submit "Log In", :class =>  "btn btn-sign-up"%>

      </div>
    <% end %>

  </div>
</div>
